<template v-cloak>
    <div class="wrap">
        <el-container>
            <el-row :gutter="40">
                <el-col :span="6">
                    <el-input-number placeholder="bedrooms" v-model="submitForm.bedrooms"></el-input-number>
                </el-col>
                <el-col :span="6">
                    <el-input-number placeholder="bathrooms" v-model="submitForm.bathrooms"></el-input-number>
                </el-col>
                <el-col :span="6">
                    <el-input-number placeholder="storeys" v-model="submitForm.storeys"></el-input-number>
                </el-col>
                <el-col :span="6">
                    <el-input-number placeholder="garages" v-model="submitForm.garages"></el-input-number>
                </el-col>
            </el-row>
        </el-container>
        <div class="name-wrap">
            <el-row :gutter="40">
                <el-col :span="24">
                    <el-input placeholder="name" v-model="submitForm.name"></el-input>
                </el-col>
            </el-row>
        </div>
        <div class="price-wrap">
            <el-row :gutter="40">
                <el-col :span="24">
                    <el-slider
                        v-model="submitForm.price"
                        range
                        height="100"
                        :max="maxPrice"
                        :marks="marks"
                    >
                    </el-slider>
                </el-col>
            </el-row>
        </div>
        <el-table
            v-loading="loading"
            :data="houses"
            empty-text="No data"
            style="width: 100%">
            <el-table-column
                prop="name"
                label="Name"
                width="180">
            </el-table-column>
            <el-table-column
                prop="price"
                label="Price"
                width="180">
            </el-table-column>
            <el-table-column
                prop="bedrooms"
                label="bedrooms"
                width="180">
            </el-table-column>
            <el-table-column
                prop="bathrooms"
                label="bathrooms"
                width="180">
            </el-table-column>
            <el-table-column
                prop="storeys"
                label="storeys"
                width="180">
            </el-table-column>
            <el-table-column
                prop="garages"
                label="garages"
                width="180">
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
    import { debounce } from 'lodash'
    export default {
        data() {
            return {
                houses: null,
                submitForm: {
                    name: null,
                    price: [0, 10]
                },
                maxPrice: 10,
                marks: {
                    0: 'Price'
                },
                loading: true
            }
        },
        watch: {
            submitForm: {
                deep: true,
                handler: _.debounce(function(newValue) {
                    this.getHouses();
                },200)
            }
        },
        methods: {
            getHouses() {
                this.loading = true;
                Vue.axios.get('/houses', {
                    params: {
                        ...this.submitForm,
                        price_from: this.submitForm.price[0],
                        price_to: this.submitForm.price[1]
                    }
                })
                .then(data => {
                    this.houses = data.data.data;
                    setTimeout(() => {
                        this.loading = false;
                    }, 300);
                });
            },
            getMaxPrice() {
                Vue.axios.get('/houses/max-price')
                    .then(data => {
                        this.submitForm.price[1] = data.data;
                        this.maxPrice = data.data;
                    });
            }
        },
        created() {
            this.getHouses();
            this.getMaxPrice();
        }
    }
</script>

<style type="scss">
    body {
        color: #909399;
    }
    .el-row {
        margin-bottom: 20px;
        &:last-child {
             margin-bottom: 0;
        }
    }
    .el-col {
        border-radius: 4px;
    }
    .item {
        margin-bottom: 18px;
    }
    .wrap {
        max-width: 1080px;
        margin: 0 auto;
    }
    .name-wrap {
        max-width: 400px;
    }
    .price-wrap {
        max-width: 400px;
        padding-left: 14px;
        margin-bottom: 40px;
    }
</style>
